/* *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

.atap{
    display: inline-block;
    width: 80%;
    text-align: center;
    border: 1px solid brown;
    margin: auto;
} */
.button-error{
    background: rgb(202, 60, 60);
    color: white;
}

img{
    width: 10%;
}
